{% extends 'main/base.html' %}
{% block title %}Groups{% endblock %}

{% block content %}
    <h2>Your Groups:</h2>
    {% if groups %}
        {% for group in groups %}
            <div class="card mt-2">
                <div class="card-header"><strong>Owner: {{ group.created_by }}</strong></div>
                <div class="card-body d-flex- flex-row justify-content-between">
                    <div>
                        <a href="{{ group.get_absolute_url }}"><h5>{{ group.name }}</h5></a>
                        <p>
                            Course: {{ group.course }}<br>
                            University: {{ group.university }}<br>
                            Invite code: {{ group.invite_code }}
                        </p>
                    </div>
                        {% if user == group.created_by %}
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger" name="group-id" value="{{ group.id }}">Delete</button>
                            </form>
                        {% else %}
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger" name="group-id" value="{{ group.id }}">Leave</button>
                            </form>
                        {% endif %}

                    </div>
            </div>

        {% endfor %}
    {% else %}
        <p>You're not in a group yet</p>
    {% endif %}
    <p>Want to create a group? Click <a href="/group-create">here!</a></p>
{% endblock %}